/*--/////////////////////////////  1st css part	 /////////////////////////////*/

.logo img {
	color: red;
	background: red;
	padding-left: 118px;
}
.navbar{
	padding-left: 85px;
	padding-right: 53px;
	background: white;
	height: 90px;
	border-bottom: 1px solid gainsboro;
	font-size: 24px;
}
.search {
	color: gray;
	position: relative;
	padding-top: 9px;
	right: 50px;
	
}
.nav-item dropdownn{
		color: black;
}
.nav-1 {
	background: red;
	height: 120px;
	padding-top: 25px;
}
.nav-1 a{
	color: black;
	text-decoration: none;
}
.btn-1 {
	float: right;
	position: relative;
	bottom: 40px;
	height: 50px;
	width: 200px;
	margin-right: 100px;
	background: white;
	border: 1px solid white;
	border: 1px solid white;
}
.login{
	float: left;
	position: relative;
	bottom: 26px;
	left: 1000px;
	
}
.nav-1 .nav-item dropdown {
	display: inline-block;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}


nav ul {
	float: right;
}


/*dropdown css*/
.dropbtn {
  background: red;
  color: white;
 
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  background: red;
  position: absolute;
  bottom: 35px;
  margin-left: 320px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: blue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: red;}

.navbar {
	position: absolute;
	bottom: 30px;
}
/*--/////////////////////////////  2nd css part	 /////////////////////////////*/
.text{
	background: black;
	position: relative;
	color: white;
	height: 100px;
	width: 730px;
	padding-top: 30px;
	padding-left: 20px;
	font-size: 20px;
	margin-left: 146px;
	top: 409px;
}
.underline-1{
	height: 4px;
	width: 735px;
	background: gainsboro;
	color: gainsboro;
	position: relative;
	top: 520px;
	left: 111px;
}

.box {
	border: 1px solid gainsboro;
	background: white;
	height: 230px;
	width: 370px;
	margin-left: 860px;
	position: relative;
	bottom: 15px;
}
.box h1 {
	color: red;
	font-size: 25px;
	margin-right: 30px;
	text-align: left;
	float: left;
	position: absolute;
	top: 40px;
	left: 20px;
}

.box small{
	position: relative;
	padding-bottom: 30px;
	float: left;
	bottom: 550px;
	left: 20px;
	color: gray;
}
#email{
	position: absolute;
	top: 150px;
	left: 20px;
	height: 40px;
	padding-left: 10px;
	border: 1px solid gainsboro;
}
.btn-2{
	position: absolute;
	top: 150px;
	left: 227px;
	height: 40px;
	width: 100px;
	border: 1px solid red;
	background: red;
	color: white;
}
.box a{
	text-decoration: none;
	color: white;
}
.box a:hover{
	text-decoration: none;
	color: white;
}
.img-box img {
	height: 370px;
	width: 369px;
	position: absolute;
	right: 120px;
}
.img-box small{
	color: gray;
	position: relative;
	top: 370px;
	left: 110px;
}
/*blog-1*/
.blog-1{
	height: 690px;
	width: 350px;
	background: white;
	margin-top: 330px;
	margin-left: 110px;
}
.blog-1 h2{
	color: black;
	position: absolute;	
	font-size: 28px;
	top: 750px;
	left: 110px;
	color: gray;
}
.blog-1 img{
	position: relative;
	bottom: 130px;
}
.blog-1 h1{
	position: relative;
	font-size: 30px;
	bottom: 90px;
	font-weight: bold;
}
.blog-1 p{
	position: relative;
	bottom: 80px;
	font-size: 20px;
	color: gray;
}
.a1{
	color: red;
	text-decoration: none;
}
.comment {
	height: 40px;
	width: 120px;
	background: white;;
	position: relative;
	bottom: 60px;
	border: 1px solid gainsboro;
}
.share{
	padding-top: 10px;
	padding-left: 10px;
	color: gray;
}

.com{
	padding-top: 10px;
	padding-left: 10px;
	color: gainsboro;
}
/*end-blog-1*/

/*blog-2*/
.blog-2{
	height: 690px;
	width: 380px;
	background: ;
	position: relative;
	margin-left: 477px;
	bottom: 689px;
}

.post-1 p{
	color: black;
	font-size: 17px;
	float: right;
	margin-right: 26px;
	
}
.post-1 span{
	color: gray;
	font-size: 16px;
	position: relative;
	float: right;
	bottom: 30px;
	margin-right: 125px;
}

.underline-2{
	height: 1px;
	width: 360px;
	background: gainsboro;
	margin-top: 10px;
	margin-bottom: 14px;
}

.post-2 p{
	float: right;
	
	margin-right: 38px;
}
.post-2 span{
	color: gray;
	font-size: 16px;
	position: relative;
	float: right;
	bottom: 30px;
	margin-right: 125px;
}

.post-3 p{
	float: right;
	
	margin-right: 38px;
}
.post-3 span{
	color: gray;
	font-size: 16px;
	position: relative;
	float: right;
	bottom: 30px;
	margin-right: 125px;
}

.post-4 p{
	float: right;
	
	margin-right: 38px;
}
.post-4 span{
	color: gray;
	font-size: 16px;
	position: relative;
	float: right;
	bottom: 30px;
	margin-right: 125px;
}

.post-5 p{
	float: right;
	
	margin-right: 38px;
}
.post-5 span{
	color: gray;
	font-size: 16px;
	position: relative;
	float: right;
	bottom: 30px;
	margin-right: 125px;
}

.post-6 p{
	float: right;
	
	margin-right: 38px;
}
.post-6 span{
	color: gray;
	font-size: 16px;
	position: relative;
	float: right;
	bottom: 30px;
	margin-right: 125px;
}
.underline-3{
	height: 4px;
	width: 750px;
	background: gainsboro;
	color: gainsboro;
	position: relative;
	top: 100px;
	right: 370px;
}

/*end-blog-2*/
.link{
	position: absolute;
	height: 50px;
	width: 210px;
	background: white;
	bottom: 10px;
	top: 880px;
	left:861px;
	word-spacing: 10px;
	padding-top: 10px;
	padding-left: 12px;
	border: 1px solid gainsboro;
}
.link a{
	text-decoration: none;
	color: black;
}

.blog-3{
	height: 570px;
	width: 368px;
	background: white;
	position: relative;
	bottom: 1250px;
	float: right;
	right: 120px;
	border: 1px solid gainsboro;
	padding-left: 15px;
}
.post-7 p{
	position: relative;
	bottom: 60px;
	left: 100px;
	font-size: 17px;
}

.post-7 small{
	position: relative;
	bottom: 57px;
	left: 100px;
	font-size: 15px;
}

.post-8 p{
	position: relative;
	bottom: 60px;
	left: 100px;
	font-size: 17px;
}

.post-8 small{
	position: relative;
	bottom: 57px;
	left: 100px;
	font-size: 15px;
}

.post-9 p{
	position: relative;
	bottom: 60px;
	left: 100px;
	font-size: 17px;
}

.post-9 small{
	position: relative;
	bottom: 57px;
	left: 100px;
	font-size: 15px;
}

.post-10 p{
	position: relative;
	bottom: 60px;
	left: 100px;
	font-size: 17px;
}

.post-10 small{
	position: relative;
	bottom: 57px;
	left: 100px;
	font-size: 15px;
}
.post-11 p{
	position: relative;
	bottom: 60px;
	left: 100px;
	font-size: 17px;
}

.post-11 small{
	position: relative;
	bottom: 57px;
	left: 100px;
	font-size: 15px;
}
.underline-5{
	height: 1px;
	width: 330px;
	background: gainsboro;
	position: relative;
	bottom: 25px;
}
/*blog-4*/
.blog-4 h1{
	position: relative;
	bottom: 620px;
	font-size: 25px;
	color: gray;
	margin-left: 110px;
}
.post-12{
	height: 710px;
	width: 430px;
	background: white;
	position: absolute;
	bottom: 1px;
	left: 108px;
	top: 1600px;
}
.post-12 small{
	font-size: 10px;
	font-weight: bold;
	color: gray;
}
.post-12 h1{
	font-size: 36px;
	font-weight: bold;
	position: relative;
	top: 10px;
	color: black;
	float: left;
	right: 108px;
}
.post-12 p{
	position: relative;
	top: 20px;
	font-size: 20px;
	color: gray;
}
.comment-2{
	height: 40px;
	width: 120px;
	background: white;;
	position: relative;
	bottom: 60px;
	border: 1px solid gainsboro;
	top: 50px;
}
/*....*/
.post-13{
	height: 400px;
	width: 290px;
	background: white;
	position: absolute;
	bottom: 1px;
	left: 550px;
	top: 1600px;
}

.post-13 small{
	font-size: 10px;
	font-weight: bold;
	color: gray;
}
.post-13 p{
	font-size: 22px;
	margin-top: 10px;
}
.comment-3{
	height: 40px;
	width: 120px;
	background: white;;
	position: relative;
	bottom: 60px;
	border: 1px solid gainsboro;
	top: 50px;
}
.post-14{
	height: 300px;
	width: 290px;
	background: white;;
	position: absolute;
	bottom: 1px;
	left: 550px;
	top: 2010px;
}
.post-14 small{
	font-size: 10px;
	font-weight: bold;
	color: gray;
}
.post-14 p{
	font-size: 22px;
	margin-top: 10px;
}
.comment-4{
	height: 40px;
	width: 120px;
	background: white;;
	position: relative;
	bottom: 60px;
	border: 1px solid gainsboro;
	top: 50px;
}


.post-15{
	height: 500px;
	width: 367px;
	background: white;
	position: absolute;
	bottom: 1px;
	left: 862px;
	top: 1520px;
	border: 1px solid gainsboro;
}
.post-15 span{
	color: red;
	font-size: 30px;
	position: relative;
	top: 15px;
	left: 15px;
}
.post-15 a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	position: relative;
	top: 30px;
	left: 15px;
	padding-bottom: 100px;
	padding-top: 100px;
}
.underline-7{
	height: 1px;
	width: 325px;
	background: gainsboro;
	position: relative;
	top: 15px;
	left: 15px;
}
.underline-8 {
	height: 1px;
	width: 325px;
	background: gainsboro;
	position: relative;
	top: 1px;
	bottom: 82px;
	margin-bottom: 14px;
	left: 2px;
}

.underline-9 {
	height: 1px;
	width: 325px;
	background: gainsboro;
	position: relative;
	top: 30px;
	
	margin-bottom: 14px;
	left: 17px;
}


.underline-10{
	height: 1px;
	width: 325px;
	background: gainsboro;
	position: relative;
	top: 1px;
	margin-bottom: 14px;
	left: 2px;
}

.underline-11{
	height: 1px;
	width: 325px;
	background: gainsboro;
	position: relative;
	top: 28px;
	margin-bottom: 14px;
	left: 17px;
}
.underline-12{
	height: 1px;
	width: 325px;
	background: gainsboro;
	position: relative;
	top: 3px;
	margin-bottom: 19px;
	left: 2px;
}

.underline-13{
	height: 1px;
	width: 325px;
	background: gainsboro;
	position: relative;
	top: 30px;
	margin-bottom: 19px;
	left: 17px;
}
.post-16{
	height: 402px;
	width: 367px;
	background: white;
	position: absolute;
	bottom: 1px;
	left: 862px;
	top: 2040px;
	border: 1px solid gainsboro;
}
.post-16 h1{
	position: relative;
	top: 20px;
	right: 77px;
	color: red;
}
.post-16 a{
	text-decoration: none;
	color: gray;
	font-size: 17px;
	padding-top: 10px;
	margin-left: 33px;
}
.post-16 span{

	margin-left: 50px;
}
.underline-15{
	height:1px;
	width: 290px;
	background: gainsboro;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 33px;
}
.underline-6{
	height: 4px;
	width: 735px;
	background: gainsboro;
	color: gainsboro;
	position: relative;
	top: 210px;
	left: 111px;
}
/*    */

.blog-5 h1{
	position: relative;
	top: 230px;
	font-size: 28px;
	margin-left: 110px;
	color: gray;
}
.post-17{
	height: 170px;
	width: 700px;
	position: relative;
	top: 250px;
	background: ;
	margin-left: 110px;
	margin-bottom: 20px;
}
.post-17 small{
	font-size: 10px;
	font-weight: bold;
	color: gray;
	position: relative;
	bottom: 118px;
	margin-left: 10px;
}
.post-17 h4{
	font-size: 20px;
	font-weight: bold;
	color: black;
	position: relative;
	bottom: 115px;
	margin-left: 200px;
}
.post-17 p{
	font-size: 18px;
	font-weight: bold;
	color: #2f4f4f;
	position: relative;
	bottom: 107px;
	margin-left: 200px;
}
.post-17 a{
	color: red;
	font-size: 13px;
	text-decoration: none;
	font-weight: 0px;
}
.underline-18{
	height: 1px;
	width: 700px;
	background: gainsboro;
	position: relative;
	top: 220px;
	margin-left: 110px;
}
.post-18{
	height: 170px;
	width: 700px;
	position: relative;
	top: 250px;
	background: ;
	margin-left: 110px;
	margin-bottom: 20px;
}
.post-18 small{
	font-size: 10px;
	font-weight: bold;
	color: gray;
	position: relative;
	bottom: 118px;
	margin-left: 10px;
}
.post-18 h4{
	font-size: 20px;
	font-weight: bold;
	color: black;
	position: relative;
	bottom: 115px;
	margin-left: 200px;
}
.post-18 p{
	font-size: 18px;
	font-weight: bold;
	color: #2f4f4f;
	position: relative;
	bottom: 107px;
	margin-left: 200px;
}
.post-18 a{
	color: red;
	font-size: 13px;
	text-decoration: none;
	font-weight: 0px;
}
.post-19{
	height: 170px;
	width: 700px;
	position: relative;
	top: 250px;
	background:;
	margin-left: 110px;
	margin-bottom: 20px;
	
}
.post-19 small{
	font-size: 10px;
	font-weight: bold;
	color: gray;
	position: relative;
	bottom: 118px;
	margin-left: 10px;
}
.post-19 h4{
	font-size: 20px;
	font-weight: bold;
	color: black;
	position: relative;
	bottom: 115px;
	margin-left: 200px;
}
.post-19 p{
	font-size: 18px;
	font-weight: bold;
	color: #2f4f4f;
	position: relative;
	bottom: 107px;
	margin-left: 200px;
}
.post-19 a{
	color: red;
	font-size: 13px;
	text-decoration: none;
	font-weight: 0px;
}
.post-20{
	height: 150px;
	width: 370px;
	background: ;
	margin-left: 862px;
	position: absolute;
	top: 2478px;
	bottom: 1px;
	border: 1px solid gainsboro;
}
.post-20 h1{
	position: relative;
	top: 19px;
	float: left;
	right: 80px;
}
.f{
	float: left;
	position: relative;
	top: 70px;
	right: 200px;
	font-size: 45px;
	padding: 5px;
}
.f:hover{
	color: red;
}
.fa-facebook-square{
	color: #4267B2;
}
.fa-twitter-square{
	color:#1DA1F2;
}
.fa-google-plus-square{
	position: relative;
	right: 1px;
	top: 15px;
	left: 127px;
	color:#d34836;
}
.fa-youtube-square{
	position: relative;
	right: 1px;
	top: 15px;
	left: 128px;
	color:	#FF0000;
}
.fa-linkedin{
	position: relative;
	right: 1px;
	top: 15px;
	left: 130px;
	color: #0072b1;
}
.fa-tumblr-square{
	position: relative;
	right: 1px;
	top: 15px;
	left: 132px;
	color:#34526f;
}

.post-21{
	height: 410px;
	width: 370px;
	background:;
	margin-left: 862px;
	position: absolute;
	top: 2654px;
	bottom: 1px;
	border: 1px solid gainsboro;
}
.a{
	text-decoration: none;
	font-size:	15px;
	font-weight: bold;
	color: black;
}
.post-21 a:hover{
	color: black;
}
.post-21 h3{
	float: left;
	position: absolute;
	bottom: 328px;
	top: opx;
	height: 40px;
	width: 150px;
	border: 1px solid gainsboro;
	padding-top: 13px;
	padding-left: 6px;
	left: 35px;
}

.post-21 h2{
	float: right;
	position: absolute;
	left: 185px;
	top: 40px;
	height: 40px;
	width: 150px;
	border: 1px solid gainsboro;
	padding-top: 13px;
	padding-left: 6px;
}

.aa{
	text-decoration: none;
	color: gray;
	font-size: 17px;
	padding-top: 20px;
	margin-left: 38px;
	margin-top: 10px;
	position: relative;
	left: 1px;
	font-weight: 10px;
}
.post-21 span{

	margin-left: 50px;
}
.underline-19{
	height:1px;
	width: 290px;
	background: gainsboro;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 33px;
	position: relative;
	left: 3px;
}
.underline-16{
	height: 5px;
	width: 1125px;
	background: gainsboro;
	position: relative;
	top: 300px;
	margin-left: 110px;
	
}

/*--/////////////////////////////  3rd css part	 /////////////////////////////*/
.blog-6 h1{
	position: absolute;
	top: 3130px;
	color: gray;
	left: 108px;
	font-size: 25px;
}
.post-x{
	height: 900px;
	width: 260px;
	background: ;
	position: absolute;
	top: 3180px;
	left: 110px;
}
.post-x small{
	color: gray;
	position: relative;
	top: 10px;
}
.a4{
	position: relative;
	top: 30px;
	float: left;
	text-decoration: none;
	color: black;
	font-weight: bold;
	right: 0px;
	font-size: 20px;
}
.a5{
	position: relative;
	top: 30px;
	float: left;
	text-decoration: none;
	color: gray;
	right: 0px;
	font-size: 20px;
}
.underline-20{
	height:1px;
	width: 260px;
	background: gainsboro;
	position: relative;
	top: 120px;
}
.underline-21{
	height:1px;
	width: 260px;
	background: gainsboro;
	position: relative;
	top: 100px;
}
.underline-22{
	height:1px;
	width: 260px;
	background: gainsboro;
	position: relative;
	top: 70px;
}
.underline-23{
	height:1px;
	width: 260px;
	background: gainsboro;
	position: relative;
	top: 110px;
}
.underline-24{
	height:1px;
	width: 260px;
	background: gainsboro;
	position: relative;
	top: 110px;
}
.post-22{
	height: 900px;
	width: 260px;
	background: ;
	position: absolute;
	top: 3180px;
	left: 398px;
}

.post-22 small{
	color: gray;
	position: relative;
	top: 10px;
}
.post-23{
	height: 900px;
	width: 260px;
	background: ;
	position: absolute;
	top: 3180px;
	left: 687px;
}
.post-23 small{
	color: gray;
	position: relative;
	top: 10px;
}
.post-24{
	height: 900px;
	width: 260px;
	background: ;
	position: absolute;
	top: 3180px;
	left: 975px;
}
.post-24 small{
	color: gray;
	position: relative;
	top: 10px;
}
.underline-25{
	height: 5px;
	width: 775px;
	background: gainsboro;
	position: relative;
	top: 360px;
	left: opx;
	right: 869px;
}

.underline-26{
	height: 5px;
	width: 330px;
	background: gainsboro;
	position: relative;
	top: 355px;
	left: opx;
	right: 70px;
}
/*--/////////////////////////////  4th css part	 /////////////////////////////*/
.blog-7 h1{
	font-size: 25px;
	color: gray;
	position: relative;
	top: 1400px;
	margin-left: 105px;
}
.blog-7 h2{
	font-size: 25px;
	color: gray;
	position: relative;
	top: 1380px;
	margin-left: 888px;
}
.post-25 {
	height: 280px;
	width: 750px;
	background: ;
	position: relative;
	top: 1400px;
	left: 109px;
}
.post-25 small{
	color: gainsboro;
	font-size: 12px;
	position: relative;
	bottom: 268px;
	font-weight: bold;
	left: 10px;
}
.a6{
	position: relative;
	top: 27px;
	float: right;
	font-size: 25px;
	color: black;
	right: 90px;
	text-decoration: none;
	font-weight: bold;
}
.post-25 p{
	position: absolute;
	top:70px;
	left: 393px;
	font-size: 20px;
	color:#2F4F4F
}
.comment-5{
	left: 399px;
	position: absolute;
	height: 40px;
	width: 120px;
	background: white;
	bottom: 90px;
	border: 1px solid gainsboro;
	margin-left: 15px;
}
.post-26 {
	height: 280px;
	width: 750px;
	background: ;
	position: relative;
	top: 1425px;
	left: 109px;
}
.post-26 small{
	color: gainsboro;
	font-size: 12px;
	position: relative;
	bottom: 268px;
	font-weight: bold;
	left: 10px;
}

.post-26 p{
	position: absolute;
	top:70px;
	left: 395px;
	font-size: 20px;
	color:#2F4F4F
}
.comment-5{
	height: 40px;
	width: 120px;
	background: white;;
	position: relative;
	bottom: 90px;
	border: 1px solid gainsboro;
	left: 380px;
}
.post-27 {
	height: 280px;
	width: 750px;
	background: ;
	position: relative;
	top: 1450px;
	left: 109px;
}
.a7{
	position: relative;
	top: 27px;
	float: right;
	font-size: 25px;
	color: black;
	right: 102px;
	text-decoration: none;
	font-weight: bold;
}
.post-27 small{
	color: gainsboro;
	font-size: 12px;
	position: relative;
	bottom: 268px;
	font-weight: bold;
	left: 10px;
}

.post-27 p{
	position: absolute;
	top:100px;
	left: 395px;
	font-size: 20px;
	color:#2F4F4F
}
.a88{
	position: absolute;
	top: 25px;
	float: right;
	font-size: 25px;
	color: black;
	right: 1px;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
	margin-right: 1px;
	left: 396px;
}
.comment-5{
	height: 40px;
	width: 120px;
	background: white;
	position: relative;
	bottom: 90px;
	border: 1px solid gainsboro;
	left: 380px;
}
.post-28{
	height: 420px;
	width: 200px;
	position: absolute;
	left: 890px;
	margin-top: 560px;
}
.a9{
	position: absolute;
	top: 170px;
	float: right;
	font-size: 25px;
	color: black;
	right: 58px;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
}
.comment-6{
	height: 40px;
	width: 120px;
	background: white;
	position: relative;
	bottom: 0px;
	border: 1px solid gainsboro;
	left: 0px;
	top: 200px;
}
.post-28 small{
	font-size: 10px;
	color: gray;
	font-weight: bold;
}
.a8{
	position: relative;
	top: 10px;
	left: 1px;
	font-weight: bold;
	font-size: 20px;
}

.post-29{
	height: 420px;
	width: 200px;
	position: absolute;
	left: 1100px;
	margin-top: 560px;
}
.post-29 small{
	font-size: 10px;
	color: gray;
	font-weight: bold;
}
.post-30{
	height: 420px;
	width: 200px;
	position: absolute;
	left: 1100px;
	margin-top: 1000px;
}
.post-30 small{
	font-size: 10px;
	color: gray;
	font-weight: bold;
}
.post-31{
	height: 420px;
	width: 200px;
	position: absolute;
	left: 890px;
	margin-top: 1000px;
}
.post-31 small{
	font-size: 10px;
	color: gray;
	font-weight: bold;
}

/*--/////////////////////////////  6th css part	 /////////////////////////////*/
.footer{
	height: 450px;
	background: #212320;
	position: relative;
	top: 1690px;
}
.footer-2{
	height: 50px;
	background: #171E16;
	position: relative;
	bottom: 1150px;
}
.footer-2 p{
	color: gray;
	padding-top: 18px;
	margin-left: 110px;
}
.b1{
	height: 400px;
	width: 350px;
	margin-left: 110px;
}
.b1 p{
	font-size: 20px;
	color: gray;
	margin-top: 10px;
}
.un-1{
	height: 1px;
	width: 350px;
	background: #485845;
	margin-top: 15px;
}
.b1 h1{
	margin-top: 30px;
	color: white;
	font-weight: bold;
}
.fa-1{
	color: gray;
	font-size: 35px;
	margin-top: 20px;
}
.fa-2{
	color: gray;
	font-size: 35px;
}
.fa-3{
	color: gray;
	font-size: 35px;
}
.fa-4{
	color: gray;
	font-size: 35px;
}
.a-11{
	text-decoration: none;
	color: gray;
	position: relative;
	top: 30px;
	right: 150px;
}
.b2{
	height: 400px;
	width: 350px;
	
	position: relative;
	bottom: 400px;
	left: 480px;
}
.b2 h1{
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 71px;
}
.b2 p{
	color: gray;
	margin-top: 30px;
}
.b2 span{
	padding-top: 5px;
	color: #3D473B;
}
.b3{
	height: 400px;
	width: 190px;
	bottom: 800px;
	left: 850px;
	position: relative;
}
.b3 h1{
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 71px;
}
.b3 a{
	text-decoration: none;
	color: gray;
	position: relative;
	top: 30px;
}
.un-2{
	height: 1px;
	width: 190px;
	background: #485845;
	position: relative;
	top: 15px;
}
.b4{
	height: 400px;
	width: 190px;
	bottom: 1200px;
	left: 1050px;
	position: relative;
}
.b4 h1{
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 71px;
}
.b4 a{
	text-decoration: none;
	color: gray;
	position: relative;
	top: 30px;
}
.un-2{
	height: 1px;
	width: 190px;
	background: #485845;
	position: relative;
	top: 15px;
}
/*--/////////////////////////////  7th css part	 /////////////////////////////*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
}

#myBtn:hover {
  background-color: #555;
}

/*--/////////////////////////////  8th css part	 /////////////////////////////*/
@media (max-width: 600px){
		.nav-1{
			
		}
		.logo{
			position: relative;
			right: 80px;
			height: 30px;
		}
		.logo img{
			height: 20px;
		}
		.dropbtn{
			position: relative;
			right: 160px;
			top: 2px;
		}
		.login{
			position: relative;
			right: 1800px;
			display: none;
		}
		.btn-1{
			height: 30px;
			width: 80px;
			top: 15px;
			position: absolute;
			right: 1px;
		}
		.btn-1 a{
			font-size: 10px;
			display: inline-block;
		}
		.navbar{
			margin-bottom: 50px;
			
			position: relative;
			height: 20vh;
			background: red;
			top: o;
			right: 0;
			
			text-align: right;
			z-index: 2;
			}
			#navbarDropdown{
				color: white;
				
			}
			.navbar ul li a{
				background: black;
				color: white;
				
			}
			
			.d-flex{
				position: relative;
				top: 200px;
				left: 150px;
			}
			
			.next-slide{
				
				position: relative;
				left: 1px;
				margin-right: 20px;
			}
			.cd-slider-wrapper{
				margin-left: 250px;
				position: relative;
				left: 30px;
			}
			.prev-slide{
				
				position: relative;
				right: 10px;
				margin-right: 50px;
			}
			.cd-slider-controls{
				top: 220px;
				position: relative;
			}
			.underline-1{
				position: relative;
				width: 482px;
				left: 0px;
				top: 840px;
				
			}
			.box{
				position: absolute;
				right: 50px;
				top: 440px;
			}
			.img-box{
				position: relative;
				top: 120px;
				left: 70px;
				
			}
			.img-box small{
				position: relative;
				left: 250px;
			}
			.blog-1{
				position: relative;
				top: 350px;
				left: -45px;
			}
			.blog-1 h2{
				display: none;
			}
			.blog-2{
				position: relative;
				top: 200px;
				left: -410px;
				right: 700px;
				margin-right: 300px;
			}
			.blog-3{
				position: relative;
				top: 180px;
				left: -47px;
			}
			.link{
				position: relative;
				top: 180px;
				left: 68px;
			}
			.underline-3{
				position: relative;
				top: 680px;
				width: 782px;
			
			}
			
			.blog-4{
				position: relative;
				top: 1590px;
				position: absolute;
				display: inline;
				left: -60px;
			}
			.post-13{
				position: relative;
				top: 2250px;
				position: absolute;
				display: inline;
				left: 110px;
			}
			.post-14{
				position: relative;
				top: 2550px;
				position: absolute;
				display: inline;
				left: 110px;
			}
			.post-15{
				position: relative;
				top: 2950px;
				position: absolute;
				display: inline;
				left: 110px;
			}
			.post-16{
				position: relative;
				top: 3470px;
				position: absolute;
				display: inline;
				left: 110px;
			}
			.post-16 h1{
				display: none;/*jkkllllllllllllllllll*/
			}
			.blog-4 h1{
				position: relative;
				top: 1570px;
			}
			.blog-5{
				position: relative;
				top: 2305px;
				left: -95px;
				font-size: 5px;
				display: none;
				
			}
			.blog-5 img{
				height: 100px;
			}
			.blog-5 small{
				position: relative;
				left: -10px;
				top: -90px;
			}
			
			.blog-5 h4{
				position: relative;
				left: -56px;
				top: -90px;
			}
			.blog-5 p{
				position: relative;
				left: -56px;
				top: -90px;
				
			}
			.underline-16{
				display: none;
			
			}
			.underline-25{
				display: none;
			
			}
			.underline-26{
				display: none;
			
			}
			.blog-6{
				position: relative;
				top: 40px;
				left: -80px;
			}
			.post-x{
				
			}
			
			.post-22{
				position: relative;
				top: 3500px;
				left: 115px;
			}
			.post-23{
				position: relative;
				top: 3600px;
				left: 115px;
			}
				
			
			.post-24{
				position: relative;
				top: 3700px;
				left: 115px;
			}
			.blog-7{
				position: relative;
				left: -80px;
				top: 2305px;
			}
			.blog-7 h1 {
				display: none;
			}
			.blog-7 h2 {
				display: none;
			}
			.post-25{
				display: none;
			}
			.post-26{
				display: none;
			}
			.post-27{
				display: none;
			}
			.post-28{
				display: none;
			}
			.post-29{
				display: none;
			}
			.post-30{
				display: none;
			}
			.post-31{
				display: none;
			}
			
			.footer{
				position: relative;
				top: 3750px;
				height: 1600px;
			}
			.footer-2{
				position: relative;
				top: -1px;
			}
			.b2{
				position: relative;
				top: -18px;
				left: 100px;
			}
			.b3{
				position: relative;
				top: -10px;
				left: 100px;
			}
			.b4{
				position: relative;
				top: -7px;
				left: 100px;
			}
			.underline-6{
				display: none;
			}
			
}

/*--/////////////////////////////  9th css part	 /////////////////////////////*/

/*--/////////////////////////////  10th css part /////////////////////////////*/
